[Unit]
Description=filebrowser
After=network.target

[Service]
User=who
Group=who
UMask=002

Type=simple
ExecStart=/usr/local/bin/filebrowser -c /home/who/.config/filebrowser/settings.json
TimeoutStopSec=20
KillMode=process
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
