[Unit]
Description=HDD tuning (no sleep, scheduler, read-ahead)
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/hdd-tune.sh
TimeoutStartSec=5
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
