[Unit]
Description=qBittorrent Server
After=network.target

[Service]
Type=simple
User=%i
Group=%i
ExecStart=/usr/local/bin/qbittorrent-start.sh %i
ExecStop=/bin/kill -s TERM $MAINPID
ExecReload=/bin/kill -s HUP $MAINPID
TimeoutStopSec=3600
Restart=on-failure
LimitNOFILE=65536
UMask=007

[Install]
WantedBy=multi-user.target
